<ion-header>
  <app-header [items]="bread"></app-header>
</ion-header>
<ion-content>
  <ion-item>
    <ion-button *ngIf="configService.isClickConfig">
      Nueva Categoria
    </ion-button>
    <ion-icon color="primary" *ngIf="configService.isAdmin" (click)="configService.edicion()"  slot="end"  
              [name]="configService.iconEdit"></ion-icon>
  </ion-item>
  
  <h3>Listado de Gamas {{ configService.isAdmin }}   </h3>
  
  <ion-list>
      <ion-card *ngFor="let g of gamas">
        <ion-card-header 
          [routerLink]="['/tabs/productos/gamas', g.Gama]" >
        <!--  <img src="{{ images }}/{{ g.Imagen }}"> -->
          <img [src] = "g.Imagen | viewImage: 'gamas'">
          <ion-card-title >{{ g.Gama }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
  </ion-list>
  <router-outlet >
fgdfs
  </router-outlet>
</ion-content>
