<ion-header>
  <app-header ></app-header>
</ion-header>
<ion-content>
  <ion-item>
    <ion-button *ngIf="configService.isClickConfig">
      Nuevo Producto
    </ion-button>
  </ion-item>
  <h3>Listado de Productos </h3>
  <ion-list *ngIf="productos" >
    <ion-card *ngFor="let producto of productos">
      <ion-item class="herramientas" *ngIf="configService.isClickConfig">
        <ion-icon [routerLink]="[ '/tabs/productos/detalle/',producto.CodigoProducto,'E' ]" 
                  color="primary" slot="end" name="create"></ion-icon>
        <ion-icon color="primary" slot="end" name="trash"></ion-icon>
        <ion-icon color="primary" slot="end" name="close"></ion-icon>
      </ion-item>
      <ion-card-header [routerLink]="[ '/tabs/productos/detalle/',producto.CodigoProducto,'S' ]">
      <!--  <img *ngIf="producto.imagen"  src="{{ images }}/{{ producto.imagen }}"> -->
        <img *ngIf="producto.imagen" [src] = "producto.imagen | viewImage: 'productos'">
        <ion-card-title>
           <ion-input type="text" name="nombre" [value]="producto.Nombre" [(ngModel)]="producto.Nombre"> {{producto.Nombre }}</ion-input>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ producto.Descripcion | truncate: 100 }} 
        
      </ion-card-content>
      
    </ion-card>
  </ion-list>
</ion-content>
