
div.container {
  padding-top:10px;
  width: 90%;
  margin: 0 auto;
}
/* css cards */
div#cards {
  display: flex;
  flex-flow: row wrap;
  justify-content:flex-start; /*contenido a la izquierda*/
  align-items: stretch; /*todos los elementos se igualan al mas alto*/
}

div#cards app-card {
  padding: 10px 10px;
  width:33%;
  height:100%;
}



/* css tablas */
div.row {
  background-color: rgba(0,0,0,.1);
}
div.header{
  background-color: rgba(0,0,0,.7) !important;
  color: whitesmoke;
}

div.col-lg-3 {
  border: 1px solid rgba(0,0,0,.2);
  padding: 5px;
  display: flex !important;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div.col-lg-3 img{
  display: block;
  margin: 0 auto;
  height: 80px;
  border-radius: 10px;
}
