<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" menuId="first" (click)="getUser()">
      <ion-header>
        <ion-list-header *ngIf="usuario" >
            <img  routerLink="/perfil" src="#">
          <div id="datos" color="success" >
            <div id="cliente">
              <p>{{ usuario.cliente.Nombre }}</p>
              <p></p>
            </div>
            <div id="usuario">
              <p>{{usuario.name}}</p> 
              <p>{{ usuario.email }}</p>
              <p>{{ usuario.rol}}</p>
            </div>    
          </div>
        </ion-list-header>
      </ion-header>
      <ion-content>   
        <ion-router-outlet name="secondary">
          fgdfgd
        </ion-router-outlet>
      </ion-content>
    </ion-menu>
    <ion-router-outlet name="primary" id="main-content">
      
    </ion-router-outlet>

  </ion-split-pane>
  
</ion-app>
