<div class="container">
<app-usuarios *ngIf="nidEscolar === ''"
  (mostrar)="showMostrar($event)"></app-usuarios>


<div class="row" *ngIf="nidEscolar">
    <div class="col-3">
      <label>Nombre</label>
    </div>
    <div class="col-5">
      <span>{{nidEscolar}}</span>
    </div>
    <div class="col-12">
      <table class="table table-condensed	">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Numero</th>
            <th>Tipo</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let incidencia of incidencias">
            <td>{{ incidencia.fecha.timestamp | date:'dd-MM-yyyy' }}</td>
            <td>{{ incidencia.numeroIncidencia }}</td>
            <td>{{ incidencia.tipo }}</td>
            <td>{{ incidencia.puntos }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
