<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" menuId="first" (click)="getUser()">
      <ion-header>
        <ion-list-header *ngIf="usuario" >
            <img  routerLink="/perfil" src="#">
          <div id="datos" color="success" >
            <div id="cliente">
              <p>{{ usuario.cliente.Nombre }}</p>
              <p></p>
            </div>
            <div id="usuario">
              <p>{{usuario.name}}</p> 
              <p>{{ usuario.email }}</p>
              <p>{{ usuario.rol}}</p>
            </div>    
          </div>
        </ion-list-header>
      </ion-header>
      <ion-content> 
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let g of gamas; let i = index" 
                          (click)="mostrarProductos(g.Gama)">
            <ion-item>
              <ion-thumbnail slot="start">
                <ion-img src="http://jardineria.test/img/gamas/{{g.Imagen}}"></ion-img>
              </ion-thumbnail>
              <ion-label>
                {{g.Gama}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" name="primary"></ion-router-outlet>

  </ion-split-pane>
  
</ion-app>
